body {font-family: Verdana, sans-serif; margin:0; background-color: #0a0f0f;
	  cursor:pointer;
}

.gallery{
display:flex;
flex-wrap:wrap;
gap:20px;
color:gold;
}
.image-item{
border:1px solid red;
padding:10px;
text-allign:center;
  border-radius:30px 45px;
}
.image-item img{
max-width:150px;
height:200px;
  border-radius:30px 45px;
}
.effect:hover{
width:190px;
height:230px;
}

.mySlides {display: none}
img {vertical-align: middle;width:99%;height:;}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
color:gold;
background-color:black;

}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
color:gold;
background-color:black;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 92%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
<!--page-->
<!--audio-->
 body{
                cursor:pointer;
                background-image:url("https://spark00001.github.io/images/top-rated-bg.jpg");
                background-repeat:no-repeat;
                background-size:100% 100%;
            }
            #song{
                border:2px solid gold;
                border-radius:20px;
                height:75px;
                width:auto;
            }
            #mtitle{
                color:white;
                text-align:center;
            }
            .music{
                width:70px;
                height:70px;
                border-radius:50%;
            }
            #music-circle{
              width:70px;
              height:70px;
              border-radius:50%;
              animation:rotates 2s linear infinite;
}
            @keyframes rotates{
            from{transform:rotate(0deg);}
             to{transform:rotate(360deg);}
            }
                        #terimeripremkahani-circle{
              width:70px;
              height:70px;
              border-radius:50%;
              animation:terimeripremkahani 2s linear infinite;
}
            @keyframes terimeripremkahani{
            from{transform:rotate(0deg);}
             to{transform:rotate(360deg);}
            }
            .button-container{
padding:30px;
display:;
}
.play-button{
padding:10px;
width:100%;
max-width:200px;
border:2px solid gold;
background-color:black;
color:gold;
}
.play-button:hover{
background-color:gold;
border:2px solid red;
color:black;
box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.pause-button{
padding:10px;
width:100%;
max-width:200px;
border:2px solid gold;
background-color:black;
color:gold;
}
.pause-button:hover{
background-color:gold;
border:2px solid red;
color:black;
box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
#inputaudio{
    height:40px;
    background-color:transparent;
    color:gold;
    width:100%;
}
	#developer{
		color:gold;
	}
